# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

# Environments
env/
venv/
.venv/

# VS Code
.vscode/

# Django static and media
/staticfiles/
/media/

# OS-specific
.DS_Store
Thumbs.db

# Local env config
.env
