# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais / ferramentas
.env
.env.*
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# segredos
*.csv                # chaves AWS exportadas pelo IAM
*.pem                # certificados
*.key                # chaves privadas
*.pfx                # pacotes PKCS#12
*.crt                # certificados
*.7z                 # pacotes de backup grandes
/zip/                # pasta de pacotes (já deu problema no GitHub)
/Apenas_Local/       # seu “cofre” local, com txt/md
/Bat/                # scripts auxiliares (que podem conter segredos)
s3-secrets.ps1       # seu script de manutenção do S3




# Django
# (IMPORTANTE: commit as migrations!)
# Não ignore migrations.

# Static & media
staticfiles/
media/

# Banco local
db.sqlite3
*.sqlite3

# Editores
.vscode/
.idea/
*.swp

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
*~

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PostgreSQL dumps / dados locais
*.sql
*.dump
*.backup
pgdata/
postgres-data/
backups/

# Testes / cobertura / caches
.pytest_cache/
.coverage
htmlcov/ 
.mypy_cache/
.ruff_cache/
pip-wheel-metadata/
__pypackages__/

# nunca versionar instaladores e pasta Publicar
Publicar/
*.msi


albinomarks-railway_accessKeys.csv
infraestrutura.md
