# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais / ferramentas
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# Django
# (IMPORTANTE: commit as migrations!)
# Não ignore migrations.

# Static & media
staticfiles/
media/

# Banco local
db.sqlite3
*.sqlite3

# Editores
.vscode/
.idea/
*.swp

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
*~

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PostgreSQL dumps / dados locais
*.sql
*.dump
*.backup
pgdata/
postgres-data/
backups/

# Testes / cobertura / caches
.pytest_cache/
.coverage
htmlcov/ 
.mypy_cache/
.ruff_cache/
pip-wheel-metadata/
__pypackages__/

# nunca versionar instaladores e pasta Publicar
Publicar/
*.msi