{% extends 'base.html' %}
{% load static %}
{% include 'partials/regua_botoes.html' %}

{% block title %}Lista de Mídias{% endblock %}

{% block content %}
<h2>Lista de Mídias</h2>
<a href="{% url 'midia_create' %}">Adicionar Nova Mídia</a>
<ul>
    {% for midia in midias %}
        <li>
            {{ midia.nome_midia }} - 
            <a href="{% url 'midia_update' midia.id %}">Editar</a> - 
            <a href="{% url 'midia_delete' midia.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
