{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site de Artigos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Projeto Pr. Albino Marks</h1>
        <nav>
            <!-- Corrigido o nome da URL para 'lista_artigos' -->
            <a href="{% url 'A_Lei_no_NT:lista_artigos' %}">Todos os Artigos</a>
        </nav>
    </header>

    {% include 'A_Lei_no_NT/sidebar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Pr. Albino Marks</p>
    </footer>
</body>
</html>