<!-- A_Lei_no_NT/artigo_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Artigos</title>
    <link rel="stylesheet" href="{% static 'A_Lei_no_NT/style.css' %}">
</head>
<body>
    <header>
        <h1>Projeto Pr. Albino Marks</h1>
        <nav>
            <ul>
                <li><a href="{% url 'artigo_list' %}">Todos os Artigos</a></li>
                <li><a href="{% url 'autor_list' %}">Autores</a></li>
                <li><a href="{% url 'area_list' %}">Áreas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Artigos</h2>
        <select onchange="location = this.value;">
            <option disabled selected>Ordenar por:</option>
            <option value="?order=ordem">Ordem</option>
            <option value="?order=titulo">Título</option>
            <option value="?order=autor__nome_autor">Autor</option>
        </select>
        <table>
            <tr>
                <th>Ordem</th>
                <th>Nome do Autor</th>
                <th>Área</th>
                <th>Título</th>
            </tr>
            {% for artigo in artigos %}
            <tr>
                <td>{{ artigo.ordem }}</td>
                <td>{{ artigo.autor.nome_autor }}</td>
                <td>{{ artigo.area.nome_area }}</td>
                <td><a href="{% url 'artigo_detalhe' artigo.titulo %}">{{ artigo.titulo }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
