{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Área</title>
    <link rel="stylesheet" href="{% static 'A_Lei_no_NT/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ form.instance.id|yesno:"Editar Área,Adicionar Nova Área" }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>
