{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Área</title>
    <link rel="stylesheet" href="{% static 'A_Lei_no_NT/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Tem certeza que deseja excluir esta área?</h1>
        <p>{{ area.nome_area }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirmar</button>
        </form>
        <a href="{% url 'area_list' %}">Cancelar</a>
    </div>
</body>
</html>
