{% extends 'base.html' %}
{% load static %}

{% block title %}{{ artigo.titulo }}{% endblock %}

{% block content %}
<div class="article">
    {% if artigo.titulo == "Biografia" %}
        <h1>{{ artigo.titulo }}</h1>
        {% if artigo.imagem %}
            <img src="{{ artigo.imagem.url }}" alt="{{ artigo.titulo }}">
        {% endif %}
    {% else %}
        {% if artigo.imagem %}
            <img src="{{ artigo.imagem.url }}" alt="{{ artigo.titulo }}">
        {% endif %}
        <h1>{{ artigo.titulo }}</h1>
    {% endif %}
    <div>
        {{ artigo.conteudo_html|safe }}
    </div>
</div>
{% endblock %}
