{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Cadastrar Artigo</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <label for="id_autor">Autor:</label><br>
  {{ form.autor }}<br><br>

  <label for="id_area">Área:</label><br>
  {{ form.area }}<br><br>

  {% if form.midia %}
    <label for="id_midia">Mídia:</label><br>
    {{ form.midia }}<br><br>
  {% endif %}

  <label for="id_arquivo_word">Arquivo Word:</label><br>
  {{ form.arquivo_word }}<br><br>

  <label for="id_imagem_capa">Imagem de Capa:</label><br>
  {{ form.imagem_capa }}<br><br>

  <button type="submit">Salvar</button>
  <a href="{% url 'home' %}" class="btn-voltar" style="margin-left: 20px;">Voltar à Home</a>
</form>

{% if messages %}
  {% for message in messages %}
      <p style="color: green; font-weight: bold;">{{ message }}</p>
  {% endfor %}
{% endif %}
{% endblock %}
