{% extends 'base.html' %}
{% load static %}
{% include 'partials/regua_botoes.html' %}

{% block title %}Lista de Autores{% endblock %}

{% block content %}
<h2>Lista de Autores</h2>
<a href="{% url 'autor_create' %}">Adicionar Novo Autor</a>
<ul>
    {% for autor in autores %}
        <li>
            {{ autor.nome_autor }} - 
            <a href="{% url 'autor_update' autor.id %}">Editar</a> - 
            <a href="{% url 'autor_delete' autor.id %}">Excluir</a>
            <a href="{% url 'autor_create' %}">Adicionar Novo Autor</a>

        </li>
    {% endfor %}
</ul>
{% endblock %}
