{% load static %}
{% include 'partials/regua_botoes.html' %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Projeto Pr. Albino Marks{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>Projeto Pr. Albino Marks</h1>
        <p>Explorando a Lei no Novo Testamento com profundidade bíblica</p>
    </header>

    <main>
        {% block content %}
        <!-- Conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        &copy; 2025 Pr. Albino Marks
    </footer>

</body>
</html>
