{% extends 'base.html' %}
{% load static %}

{% block title %}Biografia - Pr. Albino Marks{% endblock %}

{% block content %}
    {% include 'partials/regua_botoes.html' %}

    <h2 class="mb-4">Biografia do Pr. Albino Marks</h2>
    <p>📌 Pioneiro da Mordomia Cristã na Divisão Sul Americana da Igreja Adventista do Sétimo Dia, o Pr. Albino Marks dedicou sua vida ao estudo e ensino da Bíblia.</p>
    <p>📌 Atualmente desfruta a sua aposentadoria, junto com a sua dedicada companheira de mais de sessenta anos.</p>
    <p>📌 Nascido em humilde lar de camponeses, aos quatro anos de idade contraiu paralisia infantil, o que o acompanhou por toda a vida.</p>
    <p>📌 Grato a Deus, sua mãe prometeu fazer todo o esforço para que o filho se tornasse pastor.</p>
    <p>📌 Durante onze anos atuou na área educacional como preceptor e diretor de internatos. Oito anos como departamental da Mordomia Cristã.</p>
    <p>📌 Após a aposentadoria, por mais de quinze anos produziu comentários da Lição da Escola Sabatina.</p>
    <p>📌 Reside no Residencial Lagoa Bonita, próximo ao UNASP em Engenheiro Coelho - SP.</p>
{% endblock %}
