<!-- index.html -->
{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Artigos</title>
</head>
<body>
    <h1>Artigos</h1>
    <table>
        <tr>
            <th><a href="?order=ordem">Ordem</a></th>
            <th><a href="?order=autor__nome_autor">Nome do Autor</a></th>
            <th><a href="?order=area__nome_area">Área</a></th>
            <th><a href="?order=titulo">Título</a></th>
        </tr>

        {% for artigo in artigos %}
        <tr>
            <td>{{ artigo.ordem }}</td>
            <td>{{ artigo.autor.nome_autor }}</td>
            <td>{{ artigo.area.nome_area }}</td>
            <td><a href="{% url 'artigo_detalhe' artigo.titulo %}">{{ artigo.titulo }}</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
