{% extends "base.html" %}
{% load static %}
{% include 'partials/regua_botoes.html' %}

{% block content %}

<div class="artigos-container">
    <h2 class="titulo-pagina">Todos os Artigos</h2>

    {% for artigo in artigos %}
        <div class="artigo-item">
         <a href="{% url 'A_Lei_no_NT:visualizar_artigo' artigo.slug %}">
             {{ artigo.titulo }}
          </a>

        </div>
    {% endfor %}

    <div class="paginacao">
        {% if artigos.has_previous %}
            <a href="?page={{ artigos.previous_page_number }}">← Anterior</a>
        {% endif %}
        <span>Página {{ artigos.number }} de {{ artigos.paginator.num_pages }}</span>
        {% if artigos.has_next %}
            <a href="?page={{ artigos.next_page_number }}">Próxima →</a>
        {% endif %}
    </div>
</div>
{% endblock %}
