{% extends 'base.html' %}
{% load static %}

{% block title %}Motivação da Publicação - Pr. Albino Marks{% endblock %}

{% block content %}
    {% include 'partials/regua_botoes.html' %}
    <h2>Motivação da Publicação</h2>
    <p>O Pr. Albino Marks dedicou sua vida ao estudo e ensino da Bíblia. Esta publicação é fruto de seus ensinamentos e reflexões.</p>
    
    <h5 class="mt-4">Desafio para o Estudo</h5>
    <p>Sempre gostei de estudar e frequentemente me aprofundei em temas que exigem análise. As verdades da Escritura são como "a luz da alvorada, que brilha cada vez mais até a plena claridade do dia" (Pv 4:18, NVI).</p>

    <p>O apóstolo Pedro exorta: “Cresçam na graça e no conhecimento de nosso Salvador e Senhor Jesus Cristo” (2Pe 3:18, NVI).</p>

    <p>“O objetivo de Deus é prosseguir revelando ao pesquisador fervoroso as verdades de sua Palavra. [...] Toda Escritura é inspirada por Deus a fim de que possamos ser perfeitamente instruídos para toda boa obra” (2Tm 3:16-17).</p>

    <p>É impossível esgotar totalmente qualquer promessa da Bíblia com mente humana limitada.” (E, p. 171)</p>
{% endblock %}
