{% extends 'base.html' %}
{% load static %}

{% block title %}Motivação da Publicação - Pr. Albino Marks{% endblock %}

{% block content %}
<div id="bloco-texto">
  <div class="text-center my-4">
        <button class="btn btn-outline-primary mx-1" onclick="mudarCor('#0a5c8c')">Azul Atlântico</button>
        <button class="btn btn-outline-dark mx-1" onclick="mudarCor('#000000')">Preto</button>
        <button class="btn btn-outline-secondary mx-1" onclick="mudarTamanho('1rem')">Normal</button>
        <button class="btn btn-outline-secondary mx-1" onclick="mudarTamanho('1.5rem')">Grande</button>
  </div>
  <div class="pagina-centralizada my-5">
    <h2>Motivação da Publicação</h2>
    <p>O Pr. Albino Marks dedicou sua vida ao estudo e ensino da Bíblia. Esta publicação é fruto de seus ensinamentos e reflexões.</p>
    <h5 class="mt-4">Desafio para o Estudo</h5>
    <p>Sempre gostei de estudar e frequentemente me aprofundei em temas que exigem análise...</p>
    <p>O apóstolo Pedro exorta: “Cresçam na graça e no conhecimento de nosso Salvador e Senhor Jesus Cristo” (2Pe 3:18, NVI).</p>
    <p>“O objetivo de Deus é prosseguir revelando ao pesquisador fervoroso as verdades de sua Palavra...”</p>
    <p>É impossível esgotar totalmente qualquer promessa da Bíblia com mente humana limitada.” (E, p. 171)</p>
  </div>
</div>
{% endblock %}
